#windows
Thumbs.db

#osx
.DS_Store
._*

#visual-studio
.vs/
*.user
*.suo
*.tmp_proj
*.cache
*.vsdoc
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
[Ll]og/
[Tt]emp/

#nuget
*.nupkg
**/packages/*

#cake
.cake/
/build/*
/tools/*
