#Ignore thumbnails created by Windows
Thumbs.db

#Ignore metadata created by OSX
.DS_Store
._*

#Ignore files created by Visual Studio
.vs/
*.user
*.suo
*.tmp_proj
*.dbmdl
*.dbproj.schemaview
*.cache
*.vsdoc
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
[Rr][Cc]/
[Cc]ode[Cc]overage/
[Ff]x[Cc]op/
[Ll]og/
[Tt]emp/

# Ignore NuGet Packages
*.nupkg
**/packages/*

#Ignore files created by ReSharper
_ReSharper*/

#Ignore files created by NUnit
TestResult.xml
*.VisualState.xml
